head { display: block !important; font: 12px/16px verdana, sans-serif !important; }
link { display: inline !important; }
link[href$=reset\.css]:after, link[href$=reset200802\.css]:after { background: #900 !important; content: 'Reset style sheet found: ' attr(href) !important; color: #fff !important; padding: 2px 3px !important; }