head {
	background: #d5d3d4 !important;
	border-bottom: 1px solid #7a7a7a !important;
	direction: ltr !important;
	display: block !important;
	font: 11px/28px verdana, sans-serif !important;
	overflow: hidden !important;
	padding: 3px 5px 4px 0 !important;
}

link {
	display: inline !important;
}

link[href$=html5reset-1\.5\.css]:after,
link[href$=html5reset-1\.5\.1\.css]:after,
link[href$=html5reset-1\.6\.css]:after,
link[href$=html5reset-1\.6\.1\.css]:after,
link[href$=normalize\.css]:after,
link[href$=reset\.css]:after,
link[href$=reset-min\.css]:after,
link[href$=reset200802\.css]:after,
link[href$=undohtml\.css]:after {
	background: #900 !important;
	border-radius: 5px !important;
	content: 'Reset style sheet: ' attr(href) !important;
	color: #fff !important;
	left: 5px !important;
	padding: 4px 5px 6px !important;
	position: relative !important;
	white-space: nowrap !important;
}