head {
	display: block !important;
	font: 11px/30px verdana, sans-serif !important;
	overflow: hidden !important;
}

link {
	display: inline !important;
}

link[href$=html5reset\.css]:after,
link[href$=html5reset-1\.2\.css]:after,
link[href$=html5reset-1\.3\.css]:after,
link[href$=html5reset-1\.4\.css]:after,
link[href$=html5reset-1\.4\.1\.css]:after,
link[href$=html5reset-1\.5\.css]:after,
link[href$=html5reset-1\.5\.1\.css]:after,
link[href$=html5reset-1\.6\.css]:after,
link[href$=html5reset-1\.6\.1\.css]:after,
link[href$=normalize\.css]:after,
link[href$=reset\.css]:after,
link[href$=reset-min\.css]:after,
link[href$=reset200802\.css]:after,
link[href$=undohtml\.css]:after {
	background: #900 !important;
	border-radius: 5px !important;
	content: 'Reset style sheet: ' attr(href) !important;
	color: #fff !important;
	margin: 3px !important;
	padding: 4px 5px 6px !important;
	white-space: nowrap !important;
}